<nav aria-label="breadcrumb ">
  <ol class="breadcrumb shadow">
    <li class="breadcrumb-item"><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<div class="form-group row">
  <div class="col-sm-6">
    <app-card>
      <canvas id="line-chart"></canvas>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card>
      <canvas id="radar-chart"></canvas>
    </app-card>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-6">
    <app-card>
      <canvas id="barChart"></canvas>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card>
      <canvas id="polarAear"></canvas>
    </app-card>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-4 col-md-4 col-lg-3">
    <div class="card shadow">
      <img src="assets/img/img2.jpg" class="card-img-top" alt="..." style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-3">
    <div class="card shadow">
      <img src="assets/img/img2.jpg" class="card-img-top" alt="..." style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-3">
    <div class="card shadow">
      <img src="assets/img/img2.jpg" class="card-img-top" alt="..." style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card shadow">
      <img src="assets/img/img2.jpg" class="card-img-top" alt="..." style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Go somewhere</a>
      </div>
    </div>
  </div>
</div>