<div class="form-group">
    <div class="row">
        <div class="col-sm-6">
            <app-card header="Title">
                <p>content</p>
            </app-card>
        </div>
        <div class="col-sm-6">
            <pre>{{cardHeader}}</pre>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-6">
            <app-card>
                <p>content</p>
            </app-card>
        </div>
        <div class="col-sm-6">
            <pre>{{cardBody}}</pre>
        </div>
    </div>
</div>
