<div class="form-group">
    <div class="row">
        <div class="col-sm-6">
            <app-card-header header="Title">
                <p>content</p>
            </app-card-header>
        </div>
        <div class="col-sm-6">
            <pre>{{cardHeader}}</pre>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-6">
            <app-card-body>
                <p>content</p>
            </app-card-body>
        </div>
        <div class="col-sm-6">
            <pre>{{cardBody}}</pre>
        </div>
    </div>
</div>