<app-card-header header="Buttons">
  <div class="row">
    <div class="col-sm-6">
      <button-add></button-add>      
      <button-cancel></button-cancel>
      <button-delete></button-delete>
      <button-edit></button-edit>
      <button-back></button-back>
      <button-next></button-next>
      <button-print></button-print>
      <button-save></button-save>
      <button-select></button-select>     
    </div>
    <div class="col-sm-6">
      <pre>
        {{btn}}
      </pre>
    </div>
  </div>
</app-card-header>