@import "assets/font/fonts.css";

/* Datatable pagination */
.pagination {
    margin: 11px 0 !important;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/* margin all button */
.btn {
    margin-left: 2px;
    margin-right: 2px;
}

/* DatePiker Color */
.theme-green .bs-datepicker-head {
    background-color: #34a79d !important;
}
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #34a79d;
}
